
body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}


header {
  background-color:  #f7df1e;
  color: rgb(15, 15, 15);
  padding: 20px;
  text-align: center;
}

header nav a {
  color: #fff;
  text-decoration: none;
  background-color: #2d2d44;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}

header nav a:hover {
  background-color: #16325c;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 15px;
}

.ejercicio {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
}

.ejercicio img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.descripcion {
  font-size: 1rem;
  text-align: justify;
  color: #444;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #f7df1e;
  color: rgb(12, 12, 12);
  font-size: 0.9rem;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .ejercicio img {
    width: 100%;
  }
}
